.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  border-top: 1px solid rgba(42, 31, 74, .1);
  div {
    font-size: 16px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: .4px;
    color: rgba(42, 31, 74, .5);
  }
}