.nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  &__container {
    max-width: 200px;
    width: 100%;
    height: fit-content;
    padding: 20px;
    background-color: $white-color;
    border-radius: 16px;
  }
  &__item {
    display: flex;
    align-items: center;
  }
  &__link {
    display: flex;
    align-items: center;
    &--active {
      color: $primary-color!important;
    }
    svg {
      margin-right: 10px;
    }
    span {
      font-weight: 500;
      line-height: 20px;
      color: $black72;
    }
  }
}