@font-face {
  font-family: "SFProRounded";
  src: url("./fonts/SF-Pro-Rounded-Ultralight.woff2") format("woff2"),
       url("./fonts/SF-Pro-Rounded-Ultralight.woff") format("woff");
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SFProRounded";
  src: url("./fonts/SF-Pro-Rounded-Thin.woff2") format("woff2"),
       url("./fonts/SF-Pro-Rounded-Thin.woff") format("woff");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SFProRounded";
  src: url("./fonts/SF-Pro-Rounded-Light.woff2") format("woff2"),
       url("./fonts/SF-Pro-Rounded-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SFProRounded";
  src: url("./fonts/SF-Pro-Rounded-Regular.woff2") format("woff2"),
       url("./fonts/SF-Pro-Rounded-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SFProRounded";
  src: url("./fonts/SF-Pro-Rounded-Medium.woff2") format("woff2"),
       url("./fonts/SF-Pro-Rounded-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SFProRounded";
  src: url("./fonts/SF-Pro-Rounded-Semibold.woff2") format("woff2"),
       url("./fonts/SF-Pro-Rounded-Semibold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SFProRounded";
  src: url("./fonts/SF-Pro-Rounded-Bold.woff2") format("woff2"),
       url("./fonts/SF-Pro-Rounded-Bold.woff") format("woff");  
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SFProRounded";
  src: url("./fonts/SF-Pro-Rounded-Heavy.woff2") format("woff2"),
       url("./fonts/SF-Pro-Rounded-Heavy.woff") format("woff");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SFProRounded";
  src: url("./fonts/SF-Pro-Rounded-Black.woff2") format("woff2"),
       url("./fonts/SF-Pro-Rounded-Black.woff") format("woff");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}