$black:#1C2035;
$black72:rgba(28, 32, 53, .72);
$black64:rgba(28, 32, 53, .64);
$black40:rgba(28, 32, 53, .40);
$background: #ffdf8c;
$gray-line: #f6f6f6;
$orange: #fe5f1e;
$primary-color: #019852;
$primary-color64: rgba(1, 152, 82, .64);
$background-color: #dbf1e7;
$white-color: #fff;
$container-width: 90%;

$duration: 0.15s;
